* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body > header {
    background-color: brown;
    padding: 16px 0;
}

h1 {
    color: white;
}

header li a {
    color: white;
    text-decoration: none;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

article p {
    margin-top: 8px;
}

.articles article a {
    color: white;
    background-color: brown;
    padding: 4px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /*height: 180px;*/
    width: 100%;
}

.articles article {
    width: 30%;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article header {
    font-size: 14px;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#sports {
    background-color: rgba(0, 255, 0, 0.1);
}

#economy {
    background-color: #f8f59f;
}

#tech {
    background-color: rgba(0, 0, 150, 0.3);
}

#entertainment {
    background-color: rgb(199, 170, 225);
}